<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I develop machine learning tools and solve business problems. 
            I have 3 years of applied experience building natural language processing tools
            and I am near completing a Master's Degree in Data Science focusing on Machine 
            Learning at the University of Washington. I have worked in a startup, an academic 
            research group, and a large technology company.
        </p>
        <p>
          I enjoy taking on new challenges
            and focusing projects on delivering value. I am currently looking for full time 
            machine learning roles in Seattle, NYC, or SF. 
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed statistical tools for understanding education customers at Microsoft 
            based on their usage of products. Exceeded managers expectations by completing 
            all stated goals within 12 week period.
    			</li>
          <li>
            Benchmarked PyTorch DataParallel and TensorFlow Distributed MirroredStrategy with
            varying number of GPUs.
          </li>
          <li>
            Built tool that translates math word problems to mathematical formula that solves 
            the problem, trained on MathQA dataset.
          </li>
          <li>
            Built text translation/classification tools for industry risk analysis at Locus Analytics.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
