<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. After taking Ali Farhadi's CSE 599, I have been reading even more papers.
			  </li>
			  <li>
				  <b>Federated learning</b>. I think the future of machine learning will be founded on privacy and will allow for more data sharing across users and organizations.
			  </li>
			  <li>
				  <b>Running</b>. My main form of exercise! Seattle is perfect for running most times of the year.
      			</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
			I'm working with Brendan McMahan's group at Google Research investigating semi-supervised federated learning.
    		</li>
  			<li>
				I'm working on a Q&A chatbot. I'm not sure what I want it to do yet.
			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
  			  Active member of Seattle Soto Zen.
			</li>
			<li>
			Active member of Seattle FrontRunners LGBT running group.
			</li>
		   </ul>
      </div>
    </div>
  </div>

</section>
